*{
    padding: 0%;
    margin: 0%;
    box-sizing: bord
    er-box;
}
.bashliq{
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
    display: flex;
    justify-content: space-between;
    background-color: rgba(78, 63, 51, 0.979);

}
.info-item span {
    font-size: 14px;
    font-weight: bold;
    color: rgb(199, 191, 191);
}

.info-item span i {
    color: #dfd2bc;
    margin-right: 10px;
} 
#header
{
    width: 100%;
    height: 100vh;
    background-image: url(../shekiller/ofis\ ssl\ 2\ jpeg.jpg);
    background-size: cover;
}
.navbar{
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0px;
}
.logo img{
    background-color: white;
    width: 200px;
    height: 98px;
}
/* .sub-nav ul{
    display: flex;
}
.sub-nav ul li{
    display: none;
} */
.menu ul{
    display: flex;
    padding: 45px;
}
.menu ul li{
    margin-left: 93px;
    list-style: none;
}
.menu ul li a{
    color: white;
    font-size: 19px;
    text-decoration: none;
    font-family:  'Titillium Web', sans-serif;

}
.icon{padding: 45px;
    font-size: 19px;
    color: white;
    
}
.icon span{
    padding: 9px;
}
.list i {
    color: white;
    padding: 45px;
}
.yazi{
    height: 80vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.yazi {
    display: flex;
    flex-direction: column;
}
.yazi h1{text-align: center;
    color: white;
    font-size: 60px;

}
.yazi h2{text-align: center;
    color: white;
    font-size: 40px;
}
.active, .menu ul li:hover{
background-color: rgb(48, 32, 12);
border-radius: 10px;
}
.sub-nav{
    display: none;
}
.menu ul li:hover .sub-nav{
    display: block;
    position: absolute;
    background-color: burlywood;
    margin-top: 15px;
    /* margin-left: -15px; */
    font-size: 10px;
}
.menu ul li:hover .sub-nav ul {
    display: block;
    background-color: burlywood;
}
.menu ul li:hover .sub-nav ul li{
    width: 150px;
    padding: 10px;
    border-bottom: 1px dotted rgb(243, 242, 242);
    /* background: transparent; */
    text-align: left;
    border-radius: 0;
    cursor: pointer;
}
.menu ul li:hover .sub-nav ul li a:hover {
    color: rgb(245, 240, 240);
}
#imza {
    background-image: url(../shekiller/bg1-home1.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 90px;
    padding-bottom: 90px;
}
section {
    position: relative;
}
.row {
    display: flex;
    justify-content: space-between;
}
.status-text{
    width: calc((100%/12)*10)

}
.profil {
    width: calc((100%/12)*6)
}
.profil-shekil img{
   border-radius: 500px;
   width: 140px;
   height: 140px;
}
.ad-vezife{
    /* width: 100%; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.ad-vezife {
    padding: 20px;
    flex-direction: column;
    display: inline-block;
    
}
.ad-vezife h1{text-align: center;
    color: white;
    font-size: 30px;
}
.ad-vezife p{text-align: center;
    color: white;
    font-size: 30px;
    text-align: left;
}
.status-text p{
    color: #FFF;
    font-family: "Titillium Web",Sans-serif;
    font-size: 30px;
    font-weight: 300;
    line-height: 48px;
    text-align: right;
    padding-right: 20px;
    margin-left: 60px;
}
#material{
    /* position: relative; */
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}
.material{
    /* position: absolute; */
    padding: 20px;
    margin-left: 50px;
}
.aboutcompany{
    /* position: absolute; */
    width: 250px;
    margin-left: 400px;
    margin-top: 250px;
}
.aboutcompany p{
    width: 500px;
}
.etraflibutton{
    background-color: black;
    color: white;
    width: 200px;
    height: 50px;
    text-align: center;
    margin-top: 30px;
}
.etraflibutton a{
    color: white;
    font-size: 17px;
}
.aboutyazi{
    width: 400px;
}
.aboutyazi >span{
    font-family: "Josefin Sans", sans-serif;
    font-size: 14px;
    font-weight: 600;
    color: #9f9e9e;
    display: inline-block;
    margin-bottom: 6px;
    text-transform: uppercase;
   letter-spacing: 1px;
 }
 .aboutyazi h2{
    margin-bottom: 0;
    line-height: 48px;
    font-size: 42px;
    font-family: "Titillium Web", sans-serif;
    font-weight: 400;
    line-height: 1.4;
    margin: 0 0 20px;
    color: #1a1a1a;
 }
 .shekil{
     display: flex;
 }
 .shekil1 a img{
     object-fit: cover;
     width: 634px;
    height: 356px;
 }
 .maxshekil{
     object-fit: cover;
 }
 .adclass h2{
    position: relative;
    color: rgb(15, 11, 11);
    font-weight: 300;
    margin-bottom: 0;
    font-size: 42px;
 }
 .adclass .number-stroke{
    font-size: 150px;
    position: absolute;
    left: calc(100% - 23px);
    bottom: -30px;
}
.col-12 {
        text-align: center;
        margin-left: 300px;
        margin-top: 100px;
    width: calc((100%/12)*12)
}
.col-12 h1{
    font-size: 42px;
    margin-bottom: 0;
    line-height: 48px;
    font-family: "Titillium Web", sans-serif;
    font-weight: 400;
    line-height: 1.4;
    margin: 0 0 20px;
    color: #1a1a1a;
}
.col-12 span{
    font-family: "Josefin Sans", sans-serif;
    font-size: 14px;
    font-weight: 600;
    color: #9f9e9e;
    display: inline-block;
    margin-bottom: 6px;
    text-transform: uppercase;
    letter-spacing: 0.5px;
}
.row-4 {
    width: calc((100%/12)*4);
    padding: 200px;
}
.row-4 h1{
    font-size: 42px;
    margin-bottom: 0;
    line-height: 48px;
    font-family: "Titillium Web", sans-serif;
    font-weight: 400;
    line-height: 1.4;
    margin: 0 0 20px;
    color: #1a1a1a;
    width: 300px;
}
.row-4 span{
    font-family: "Josefin Sans", sans-serif;
    font-size: 14px;
    font-weight: 600;
    color: #9f9e9e;
    display: inline-block;
    margin-bottom: 6px;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    width: 300px;
}
.qutular{
    justify-content: center;
    display: flex;
    padding: 10px;
    margin-left: 700px;
}
.container{
    width: 1200px;
    height: 466px;
}